html, body {
    margin: 0;
    padding: 0;
  
    background-color: white; 
    background-image:url("logo_moulin.png"); /* a modifier */
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: 100%;
    font-family: Verdana, sans-serif; 
    font-size: 100%;
    }
   .div1 {
    font-size: 200%;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
    
    }

    .logo {
        height: 200px;
        width: 200px;
    }
    
        
        

    
    footer {
        right:50%;
        left:42%;
        width: 100%;
        position: absolute;
        bottom:0;
    
   

        
      



    }
